ci:
  skip: [go-sec, go-vet]
repos:
- repo: local
  hooks:
  - id: go-sec
    name: go security check
    entry: gosec -severity high ./...
    language: system
    pass_filenames: false
    files: .*\.go

- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
    - id: go-fmt
    - id: go-vet
    - id: go-lint
    - id: go-imports
    - id: go-cyclo
    - id: validate-toml
    - id: no-go-testing
    - id: golangci-lint
    - id: go-critic
    - id: go-unit-tests
    - id: go-build
    - id: go-mod-tidy